# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_CORNE_WITH_DONGLE_CENTRAL

config ZMK_KEYBOARD_NAME
	default "CorneWithDongle"
	
config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y
	
config ZMK_USB
	default y

endif

if SHIELD_CORNE_WITH_DONGLE_LEFT || SHIELD_CORNE_WITH_DONGLE_RIGHT || SHIELD_CORNE_WITH_DONGLE_CENTRAL 

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y
	
endif